.card-img-overlay{
	padding-top: 0.5rem;
	background-color: rgba(255,255,255,0.3);
}

.card-text{
	background-color: rgba(255,255,255, 0.5);
	border-radius: 10px;
	text-align: center;
	font-size: 90%;
	height: 30%;
}

.card-text em{
	color: coral;
	font-weight: bold;
}

.card-title{
	font-weight: bold;
	width: 100%;
	text-align: center;
	color: white;
	bottom: 10px;
	margin-top: 40%;
}

.card-img-overlay:hover{
	background-color: rgba(255,255,255,0);
}

.card-img-overlay:hover .card-text{
	display: none;
}

.card-img-overlay:hover .card-title{
	margin-top: 90%;
	font-size: 0.8em;
}

@media screen and (max-width: 575px){
	.card-text{
		font-size: 180%;
	}

	.card-title{
		font-size: 2.5em;
	}

	.card-img-overlay:hover .card-title{
		font-size: 1.5em;
	}
}

.media-body{
	padding: 6px;
}

.footer-link{
	list-style-type: none;
	padding: 10px;
}

.footer-link a{
	color: white;
}